
# Set PIN_HOME and BINUTILS_HOME to the correct paths for your 
# system
PIN_HOME ?= ${HOME}/pin-2.13-62732-gcc.4.4.7-linux

BINUTILS_HOME ?= ${HOME}/binutils-2.23

# Optionally, set the compilers used to build MIAMI.
# PIN favors the GNU compilers for building the tools, thus we've tested
# building MIAMI using the GNU compilers only
#CC  = gcc44
#CXX = g++44


# We are attempting to discover the MIAMI root directory and store this 
# this value in the MIAMI_HOME variable.
# This approach may require make version 3.81 or newer. If it does not work 
# correctly on your system, set MIAMI_HOME to point to the correct MIAMI
# root directory by hand. Type "make info" to see the value of variable
# MIAMI_HOME visible to the build system.
this_makefile:=$(word $(words $(MAKEFILE_LIST)),$(MAKEFILE_LIST))
mkfile_dir  = $(abspath $(dir $(this_makefile)))
MIAMI_HOME  = $(mkfile_dir)
